In [51]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from config import schedule
from tqdm.notebook import tqdm

In [24]:
DATA_PATH = "archive/"
folders = os.listdir(DATA_PATH)
folders.remove('.DS_Store')

data_dict = dict()
for folder in tqdm(folders):
    name = folder.split('.')[0]
    file2load = f"{DATA_PATH}{folder}{'/'}{folder}.gzip"
    df = pd.read_csv(file2load)
    df.index = pd.to_datetime(df['timestamp'])
    df = df.drop(columns = {'Unnamed: 0','timestamp','close_time'})
    df = df.sort_index()
    data_dict[name] = df

  0%|          | 0/87 [00:00<?, ?it/s]

In [33]:
Close = []
Volume = []

for ticker in tqdm(data_dict.keys()):
    Close.append(data_dict.get(ticker)['close'].rename(ticker))
    Volume.append(data_dict.get(ticker)['volume'].rename(ticker))

Close = pd.concat(Close,axis=1).ffill()
Volume = pd.concat(Volume,axis=1).fillna(0.0)

  0%|          | 0/87 [00:00<?, ?it/s]

In [59]:
section_1 = {'start':'00:00','end':'07:00'}
section_2 = {'start':'08:00','end':'09:00'}
section_3 = {'start':'13:00','end':'17:00'}
section_4 = {'start':'17:00','end':'22:00'}

In [60]:
start_date,end_date = '2021-01-01','2021-02-28'
px = Close.loc[start_date:end_date].dropna(axis=1).copy()
volume = Volume.loc[start_date:end_date].loc[px.index,px.columns]

In [76]:
cols = ['open time',
        'open',
        'high',
        'low',
        'close',
        'volume',
        'close time',
        'quote asset volume',
        'number of trades',
        'Taker buy base asset volume',
        'Taker buy quote asset volume',
        'ignore']

file = "/Users/orentapiero/projects/crypto/binance_klines/XRPUSDT/XRPUSDT-1m-2020-02.csv"
df = pd.read_csv(file,header = None,names=cols)
df['open time'] = pd.to_datetime(df['open time'],unit='ms')
df['close time'] = pd.to_datetime(df['close time'],unit='ms')

In [80]:
df

,open time,open,high,low,close,volume,close time,quote asset volume,number of trades,Taker buy base asset volume,Taker buy quote asset volume,ignore
0,2020-02-01 00:00:00,0.2396,0.2399,0.2395,0.2397,132089.7,2020-02-01 00:00:59.999,31665.39290,33,44141.3,10585.12891,0
1,2020-02-01 00:01:00,0.2397,0.2397,0.2396,0.2396,36101.5,2020-02-01 00:01:59.999,8651.43119,24,15117.9,3623.76063,0
2,2020-02-01 00:02:00,0.2396,0.2397,0.2394,0.2394,40184.4,2020-02-01 00:02:59.999,9624.18421,12,850.5,203.66727,0
3,2020-02-01 00:03:00,0.2394,0.2396,0.2394,0.2396,19905.8,2020-02-01 00:03:59.999,4767.15722,10,19905.8,4767.15722,0
4,2020-02-01 00:04:00,0.2396,0.2396,0.2395,0.2395,2330.9,2020-02-01 00:04:59.999,558.33537,5,2330.9,558.33537,0
...,...,...,...,...,...,...,...,...,...,...,...,...
41755,2020-02-29 23:55:00,0.2295,0.2296,0.2294,0.2294,106817.8,2020-02-29 23:55:59.999,24512.69163,17,44675.4,10253.01083,0
41756,2020-02-29 23:56:00,0.2294,0.2294,0.2293,0.2294,54530.9,2020-02-29 23:56:59.999,12506.30883,17,13034.5,2990.11430,0
41757,2020-02-29 23:57:00,0.2294,0.2294,0.2290,0.2292,174556.1,2020-02-29 23:57:59.999,40007.13747,25,75410.2,17283.99800,0
41758,2020-02-29 23:58:00,0.2293,0.2293,0.2291,0.2291,166724.4,2020-02-29 23:58:59.999,38208.36573,26,87488.6,20053.45414,0
41759,2020-02-29 23:59:00,0.2290,0.2291,0.2288,0.2291,380408.7,2020-02-29 23:59:59.999,87133.10242,54,336090.4,76987.16244,0